body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.skyblue-highlight {
    color: rgb(16, 170, 231);
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width p{
    text-align: justify;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 600px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(29, 136, 236), rgb(18, 214, 188));
    background-color: rgb(16, 170, 231);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    text-align: center;
    font-size: 45px;
}
.single-experience{
    box-shadow: 10px 15px 40px gray;
    border-radius: 5px;
    height: 60%;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#ex-left{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}
#ex-right{
    border-left: 7px solid;
    border-image: linear-gradient(45deg, rgb(29, 136, 236), rgb(18, 214, 188));
    border-image-slice: 1;
}
.experience-area p{
    padding-right: 50px;
}
footer{
    text-align: center;
}